# Perl Critic Lint

name: Perl Critic Lint

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# jobs:
perl-critic:
  # runs-on: ubuntu-latest
  stage: linting
  image: registry.gitlab.com/pipeline-components/perl-critic:latest
  script:
    - perlcritic .
  # build:
  #   runs-on: ubuntu-latest
  #   name: Lint
  #   steps:
  #     - name: GitHub Action for Perl Critic
  #       uses: Difegue/action-perlcritic@2.1.0
  #       with:
  #         args: ./*

      # - name: perl critic
      #   uses: Difegue/action-perlcritic@master
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     # Select which files or files in which directories you want to perl critic
      #       args: ./*